/*ChartStyle*/
#interActiveChart{
  height: 80vmin;
}

.nv-focus .nv-barsWrap,
.nv-focus .nv-y1 .nv-axisMaxMin,
.nv-focus .nv-y1 .domain,
.nv-focus .nv-y1 .tick,
.nv-context .nv-x .nv-axisMaxMin,
.nv-context .nv-y2 .domain,
.nv-context .nv-y2 .nv-axisMaxMin,
.nv-context .nv-y2 .tick {
  display: none !important;
}


.nv-focus .nv-x .tick:first-of-type text,
#interActiveChart text.nv-axislabel{
  text-anchor: start !important;
}
.nv-focus .nv-y2 .tick text,
.nv-focus .nv-y2 .nv-axisMaxMin text,
.nv-focus .nv-x .tick:last-of-type text,
.nv-context .nv-y1 .tick text,
.nv-context .nv-y1 .nv-axisMaxMin text {
  text-anchor: end !important;
}
#interActiveChart svg text {
  font-size: 3vmin !important;
}

#interActiveChart .nv-axis line{
  stroke-dasharray: 3,3;
  stroke: rgb(178, 23, 255);
}
#interActiveChart .nv-axis path.domain{
  stroke-dasharray: 4,4;
  stroke-opacity: .5;
  stroke-width: 1px;
}
#interActiveChart .nv-focus .domain{
  stroke: rgb(0, 161, 241);
}

#interActiveChart .nv-focus .nv-axislabel,
#interActiveChart .nv-focus .nv-axisMaxMin text{
  fill: rgb(2, 156, 41);
}
#interActiveChart .nv-context .domain{
  stroke: rgb(251, 82, 36);
}

#interActiveChart .nv-context .nv-axislabel,
#interActiveChart .nv-context .nv-axisMaxMin text{
  fill: rgb(251, 82, 36);
}

#interActiveChart .nv-focus .nv-y2 .tick text,
#interActiveChart .nv-context .nv-y1 .tick text{
   fill: rgb(42, 4, 21);
}

#interActiveChart .nv-focus .nv-line{
  stroke: rgb(255, 0, 0);
  stroke-width: 3px;
}

#interActiveChart .nv-context .nv-line{
  stroke: rgb(166, 13, 13);
  stroke-opacity: .8;
  stroke-width: 2px;
}

#interActiveChart .nv-line{
  stroke-linecap: round;
  stroke-linejoin: round;
}

#interActiveChart .nv-barsWrap rect {
  fill: rgb(23, 6, 105);
  fill-opacity: 1;
  shape-rendering: crispEdges;
  }

  #interActiveChart .nv-brushBackground rect {
  shape-rendering: crispEdges;
  stroke-width: 1;
  stroke: rgb(183, 230, 0);
  }


svg text{
  font: 400 10pt "Helvetica Neue", sans-serif !important;
}

/*Short button bar */
#short-button-bar .button{
  line-height: normal;
  min-height: 10px;
  border: solid 1px rgb(6, 127, 139);
  border-radius: 3px;
  font-size: 7pt;
  font-style: normal; ;
  font-weight: normal;
  color:rgb(0, 5, 3);
  background-color: rgb(180, 225, 245);
}
#short-button-bar .button.active{
  line-height: normal;
  min-height: 10px;
  border: solid 1px rgb(6, 127, 139);
  border-radius: 3px;
  font-size: 7pt;
  font-style: italic;
  font-weight: bolder;
  color:rgb(0, 5, 3);
  background-color:rgb(0, 167, 228);
}
#short-button-bar {
  -webkit-box-shadow: 0px 0px 0px 3px rgb(72, 254, 221);
}

/*helper styles*/

.display-flex{
  display: flex !important;
}
.no-margin {
  margin: 0 !important;
}

/*Stock subheader bar */
#stock-subheader-bar {
  border-top: none;
}
#stock-name {
  color:rgb(56, 0, 59);
  float:left;
  font-size: 3.5vmin;
  font-weight: bolder;
  margin: auto 0;
  max-width: 33vw;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

#stock-price {
  font-size: 5vmin;
  line-height: 30pt;
}
#stock-change{
  font-size: 3vmin;
  font-weight: bolder;
  float: right;
  line-height: 12pt;
  margin:auto 0;
}

/*Stock navbar*/

#stock-navbar ion-header-bar{
  border: none;
}
#stock-navbar .back-text{
  font-size: 9pt;
}

/*Market data card*/

#market-data-card{
  font-size: 3.25vmin;
}

#market-data-card .col-20{
  font-weight: bolder;
}

#market-data-card .col-20:last-of-type{
  text-align: right;
}

#market-data-card .last-trade{
  font-size: 3vmin;
  float:right;
}
/*notes card style*/

#stock-notes .add-stock-notes{
  border: solid 2px rgb(103, 4, 200);
  border-radius: 3px;
  color:rgb(21, 4, 133);
  float:right;
  font-size: 11pt;
  font-weight: 300;
  padding: 0 5px;
}
#stock-note-title {
  border-bottom: 3px solid rgb(152, 167, 227);
  padding: 0 5px;
}
#stock-note-body {
  min-height: 100px;
  padding: 10px 5px 5px;
}
/*news style*/
#stock-news .icon{
  color:rgb(176, 14, 113);
  font-size: 11pt;
  right: 0;
}

#stock-news h2{
  font-weight: 400;
  white-space: normal;
}

#stock-news p{
  color: rgb(250, 169, 102);
  font-size: 9pt;
  margin: 10px auto 0;
  white-space: normal;
}

#stock-news .item-icon-right{
  padding-right: 30px;
  
}
