<!DOCTYPE html>
<html data-ng-app="">
<head>
  <title>Using Angular JS Directives </title>
</head>
<body data-ng-init="customers=[{name: 'Adam Smith', city:'SinCity'},
{name: 'Adam Smith', city:'SunCity'},{name: 'Adam Peters', city:'SunCity'},
{name: 'Aaron Smith', city:'SunCity'},{name: 'John Smith', city:'SinCity'},
{name: 'Moe Smith', city:'SinCity'},{name: 'Adam Jones', city:'SunCity'},]">

 Name:
<br/>
<input type="text" data-ng-model="name" />
</br>
<ul>
  <li data-ng-repeat="cust in customers | filter:name | orderBy:'city'"> {{cust.name | uppercase }} - {{cust.city | lowercase}} </li>
</ul>

<script src="angular.min.js"> </script>

</body>
</html>
