body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(208, 249, 249);
}
.parent{
  background-color: rgb(230, 108, 193);
  color: rgb(70, 77, 241);
  font-size: 12px;
  font-style: oblique;
  font-weight: bold;
  font-family: fantasy;
  padding: 10px;
  border: 2px solid rgb(0, 229, 240);
}
.child{
  background-color: rgb(139, 19, 14);
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 10px;
  font-style: italic;
  border: 5px solid rgb(83, 15, 171);
}
