body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(208, 249, 249);
}
.hyper{
  background-color: rgb(230, 108, 193);
  color: rgb(70, 77, 241);
  font-size: 12px;
  font-style: oblique;
  font-weight: bold;
  font-family: fantasy;
}
