<ion-view view-title="{{ticker}}" drag-content="false">

<ion-nav-bar id="stock-navbar" class="bar-dark ng-style:reactiveColor">
  <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>



  <div class="bar bar-subheader bar-light" id="stock-subheader-bar">
    <div class="button" side="left">
      <div class="button button-clear display-flex">
        <h6 id="stock-name">{{stockDetailsData.Name}}</h6>
    </div>
  </div>
  <h2 class="title button-left button-right" id="stock-price">{{stockPriceData.price | shrinkNumber:2}}</h2>
  <div class="button" side="right">
    <div class="button button-clear">
      <h6 id="stock-change" ng-class="stockPriceData.change < 0 ? 'assertive' : 'balaned' "><span ng-if="stockPriceData.change > 0">+</span>{{stockPriceData.change | shrinkNumber:2}}<br/><span ng-if="stockPriceData.change > 0">+</span>({{stockPriceData.chg_percent | shrinkNumber:3}}%)</h6>
  </div>
</div>
</div>
  <ion-content class="has-subheader" scrollbar-y="false">
    <div class="button-bar" id="short-button-bar">
      <!-- if chartView is equal to 1 I want add active class to this elem otherwise do not add anything -->
      <a ng-click="chartViewFunc(1)" ng-class="chartView == 1 ? 'active' : '' " class="button">Day</a>
      <a ng-click="chartViewFunc(2)" ng-class="chartView == 2 ? 'active' : '' " class="button">Week</a>
      <a ng-click="chartViewFunc(3)" ng-class="chartView == 3 ? 'active' : '' " class="button">Quarter</a>
      <a ng-click="chartViewFunc(4)" ng-class="chartView == 4 ? 'active' : '' " class="button">Year</a>
      <a ng-click="chartViewFunc(5)" ng-class="chartView == 5 ? 'active' : '' " class="button">All time</a>
    </div>

    <!-- we get graph from yahoo for each ticker by ng-scr and url  -->
    <!-- we add ng-if condition thus we can see graph if chartView is equal to smth  -->
    <img ng-if="chartView == 1" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=1d&q=l&l=on&z=m&a=vm" style="width: 100%">
 <!-- each graph to each time period  -->
      <img ng-if="chartView == 2" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=5d&q=l&l=on&z=m&a=vm" style="width: 100%">
          <img ng-if="chartView == 3"  ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=3m&q=l&l=on&z=m&a=vm" style="width: 100%">
              <!-- <div ng-if="chartView == 4"  nv-chart="options" style="height: 70vh;"></div> -->
              <nvd3  ng-if="chartView==4" options="chartOptions" data="myData" id="interActiveChart"></nvd3>
              <img ng-if="chartView == 5"   ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=my&q=l&l=on&z=m&a=vm" style="width: 100%">
             <!-- http://chart.finance.yahoo.com/z7s=YAHOO&t=1d&q=l&l=on&z=m&a=vm -->
           <!-- all data below we retrieve from json   -->

           <div class="card" id="market-data-card">
               <div class="item item-devider">Market Data<span class="last-trade"> last trade: {{stockPriceData.utctime | date: 'hh:mm:ss a'}}</span></div>
                  <div class="row row-center">
                    <div class="col">Ask: </div>
                    <div class="col col-20">{{stockDetailsData.Ask | shrinkNumber:2}}</div>
                    <div class="col">Bid:  </div>
                    <div class="col col-20">{{stockDetailsData.Bid | shrinkNumber:2}}</div>
             </div>

             <div class="row row-center">
               <div class="col">Open price: </div>
               <div class="col col-20">{{stockDetailsData.Open}}</div>
               <div class="col">Prev. close price:  </div>
               <div class="col col-20">{{stockDetailsData.PreviousClose}}</div>
           </div>

             <div class="row row-center">
               <div class="col">Max price of the day: </div>
               <div class="col col-20">{{stockPriceData.day_high | shrinkNumber:2}}</div>
               <div class="col">Min price of the day:  </div>
               <div class="col col-20">{{stockPriceData.day_low | shrinkNumber:2}}</div>
             </div>

             <div class="row row-center">
               <div class="col">Max year price: </div>
               <div class="col col-20">{{stockPriceData.year_high | shrinkNumber:2}}</div>
               <div class="col">Min year price:  </div>
               <div class="col col-20">{{stockPriceData.year_low | shrinkNumber:2}}</div>
           </div>
              <div class="row row-center">
                 <div class="col">Today's volume: </div>
                 <div class="col col-20">{{stockPriceData.volume | shrinkNumber:2}}</div>
                 <div class="col">Average volume: </div>
                 <div class="col col-20">{{stockDetailsData.AverageDailyVolume | shrinkNumber:2}}</div>
           </div>

            <div class="row row-center">
              <div class="col">Market Cap. billion$: </div>
              <div class="col col-20">{{stockDetailsData.MarketCapitalization}}</div>
              <div class="col">EBITDA: </div>
              <div class="col col-20">{{stockDetailsData.EBITDA}}</div>
           </div>


           <div class="card">
               <div class="item item-devider">Notes<span ng-click="addNote()"> Add</span></div>
               <a class="item" ng-repeat="note in stockNotes track by $index" ng-click="openNote($index, note.title, note.body)" >
                  <h2>{{note.title}}</h2>
                  <h6{{note.date | date: 'M/d/yy'}}></h6>
                </a>
           </div>

           <div class="card">
             <div class="item item-devider">News</div>
             <a class="item item-icon-right">
               <h2>News Story Title</h2>
               <i class="icon ion-ios-arrow-right"></i>
             </a>
           </div>
         </div>
             </ion-content>
           </ion-view>

  <!-- http://chart.finance.yahoo.com/z7s=YAHOO&t=1d&q=l&l=on&z=m&a=vm -->
<!-- all data below we retrieve from json   -->
  </ion-content>
</ion-view>
