.is-awesome {
  font-weight: bold;
  color: rgb(242, 12, 124);
  background-color: rgb(219, 187, 13);
}
.is-aweful {
  font-weight: bold;
  color: rgb(30, 83, 40);
  background-color: rgb(79, 13, 219);

}
